<div class="container" style="margin-top: 15vh">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-8">
      <div class="card">
        <div class="card-body">
          <h4 class="text-center mb-5">Contact</h4>
          <%= render 'form', contact: @contact %>
        </div>
      </div>
    </div>
  </div>
</div>