<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light #fafafa grey lighten-5 scrolling-navbar">
    <div class="container-fluid">
      <strong>
        <%= link_to "UKLK RENTAL SYSTEM", root_path, :class=>"navbar-brand" %>
      </strong>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", contacts_path, :class=>"nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, :class=>"btn btn-sm btn-secondary" %>
          </li>
          <li class="nav-item">
            <%= link_to "Join", new_user_registration_path, :class=>"btn btn-sm btn-info" %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>